body {
  font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}
/* I changed the width from % to px at first*/

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center
}
/* I would probably add .example and the h3 below together*/
h3 {
  font-size: 1.3em;
}
/* I was going to change the font to px as well, but Google said em is normal in css use*/
.element2 {
  background-color: pink;
  height: 100px;
  margin: 10px;
  width: 100%;
}
/* I changed the width from % to px*/
